# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Jupyter markdown
* Data Science languages
* Data Science Libraries
* Table Creation
* Python Arithmetic

## Data Science Languages
Some of the most popular languages used in the Data Science filed are the following:
1. Python
2. R
3. SQL

## Data Science Libraries
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ----------------- |
| Jupyter Notebook |
| RStudio |
| Kaggle |

### Below are some examples evalating arithmetic expressions using Python

In [7]:
# Simple arithmetic expression that multiplies then adds integers
(3*4)+5

17

In [8]:
# The following line woll convert 200 minutes into hours
200/60

3.3333333333333335

## Author
Christopher